@font-face {
    font-family: KFGQPC;
    src: url('../fonts/KFGQPC.otf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::selection {
    color: rgb(0, 63, 63);
    background-color: white;
}

body {
    color: white;
    background-color: rgb(0, 59, 59);
    padding: 20px;
}

.duaTitle {
    text-align: center;
    font-weight: normal;
    font-size: 22px;
    padding: 20px;
}

.mainDuaDiv {
    font-family: KFGQPC;
    font-size: 25px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
}

.mainDuaDiv .duaNumber {
    margin-left: 20px;
    font-size: 30px;
    color: aquamarine;
}

.mainDuaDiv .singleDuaTitle {
    color: rgb(170, 255, 255);
}

.mainDuaDiv .duaRepeat  {
    font-size: 16px;
}

.duaReference {
    font-size: 14px;
}

.markingCompleted {
    color: aqua;
}

.duafooter {
    font-size: 15px;
    text-align: center;
}

@media (max-width: 700px) {
    .duaTitle {
        font-size: 20px;
    }
    .mainDuaDiv {
        font-size: 18px;
    }
    .mainDuaDiv .duaNumber {
        font-size: 25px;
    }
    .mainDuaDiv .duaRepeat  {
        font-size: 12px;
    }
    .duafooter {
        font-size: 12px;
        text-align: center;
    }
}